footer {
    background-color: var(--letras--);
    border: 1px solid var(--letras--);
    padding: 20px;
    margin-bottom: 10px;
}

footer h3,
h4,
a {
    padding: 5px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}